[submodule "corsair-reg-map"]
	path = corsair-reg-map
	url = https://github.com/odelayIO/corsair-reg-map/
[submodule "XilinxBoardStore"]
	path = XilinxBoardStore
	url = git@github.com:Xilinx/XilinxBoardStore.git
[submodule "consair-reg-map"]
	path = consair-reg-map
	url = git@github.com:odelayIO/corsair-reg-map.git
