[submodule "corsair-reg-map"]
	path = corsair-reg-map
	url = https://github.com/odelayIO/corsair-reg-map/
[submodule "XilinxBoardStore"]
	path = XilinxBoardStore
	url = https://github.com/Xilinx/XilinxBoardStore/
